body {

}

.clock-image {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.clock-image img {
  height: 300px;
  width: 300px;
}

.short-hand-image {
  width: 100px;
  height: 90px;
  position: absolute;
  bottom: 365px;
  left: 157px;
  animation: spin 10s infinite;
  animation-delay: 10s;
  transform-origin: 2% 50%;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  To {transform: rotate(30deg);}
}

.short-hand-image img {
  width: 100px;
  height: 80px;
}

.long-hand-image {
  width: 110px;
  height: 59px;
  animation: rotation 10s infinite;
  transform-origin: 2% 50%;
  position: absolute;
  bottom: 67%;
  left: 157px;
  transform: rotate(-90deg);
}

.long-hand-image img {
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  from {transform: rotate(-90deg);}
  to {transform: rotate(270deg);}
}
